.swipeButtons{
    position: fixed;
    bottom: 8vh;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.swipeButtons .MuiIconButton-root {
    background-color: rgb(249, 249, 249);
    box-shadow: 0px 10px 53px 0px rgba(0,0,0,0.3);
}

.swipeButtons_repeat{
    padding: 3vw !important;
    color: rgb(255, 201, 24) !important;
}

.swipeButtons_close{
    padding: 3vw !important;
    color: rgba(255, 0, 0) !important;
}

.swipeButtons_star{
    padding: 3vw !important;
    color: rgba(0, 208, 255, 0.999) !important;
}

.swipeButtons_favorite{
    padding: 3vw !important;
    color: rgba(0, 255, 153) !important;
}

.swipeButtons_flash{
    padding: 3vw !important;
    color: rgba(200, 0, 255) !important;
}